body {
  /* background-color: #282c34; */
  /* color: hsl(0, 66%, 45%); */
  padding: 40px;
  font-family: Sans-Serif;

}

.bigblue {
  color: rgb(185, 172, 51);
  padding: 40px;
  font-family: Sans-Serif;
  text-align: center;
}

/* .App {
  text-align: center;
} */

.red {
  color: rgb(20, 24, 236);
}

.green {
  color: green;
}

.bold {
  font-weight: bold;
}

h3:hover {
  color: rgb(8, 187, 187);
}